name: Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  Aliyun_OSS-CDN:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      # - name: Cache Modules
      #   uses: actions/cache@v1
      #   env:
      #     cache-name: blog-oss-cache-1
      #   with:
      #     path: node_modules
      #     key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
      - name: Install Modules
        run: npm install
      - name: Build Statics
        run: npm run build
      - name: Deploy Statics
        uses: go-choppy/ossutil-github-action@master
        with:
          ossArgs: 'cp -r -u dist oss://msxblog'
          accessKey: ${{ secrets.ALIOSS_ACCESSKEYID }}
          accessSecret: ${{ secrets.ALIOSS_ACCESSKEYSECRET }}
          endpoint: oss-cn-shanghai.aliyuncs.com

  Branch_gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      # - name: Cache
      #   uses: actions/cache@v1
      #   env:
      #     cache-name: blog-branch-cache-1
      #   with:
      #     path: node_modules
      #     key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./dist
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'

  Cloudflare_Workers-Sites:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      # - name: Cache gridsome modules
      #   uses: actions/cache@v1
      #   env:
      #     cache-name: blog-worker-cache-1
      #   with:
      #     path: node_modules
      #     key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
      - name: Cache workers-site modules
        uses: actions/cache@v1
        env:
          cache-name: workers-node-modules
        with:
          path: workers-site/node_modules
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('workers-site/package-lock.json') }}
      - name: Install modules
        run: npm install
      - name: Build statics
        run: npm run build
      - name: Deploy statics
        uses: cloudflare/wrangler-action@1.1.0
        with:
          apiToken: ${{ secrets.CF_WORKERS_TOKEN }}
